<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lista Evenimentelor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Result</h1>
<div class="row">
    <div class="table-responsive table-wrap">
        <table class="table table-striped-v2" id="tableId">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Denumire evenimentului</th>
                <th>Data evenimentului</th>
                <th>Locatie</th>
                <th>Capacitate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${events !=null}"
                th:each="event : ${events}" id="body-row">
                <td style="white-space: nowrap">
                    <div class="dropdown">
                        <span class="glyphicon glyphicon-option-horizontal"></span>
                        <div>
                            <p><a th:href="@{/user/events/view/{id}(id=${event.id})}" target="_blank"><i class="glyphicon glyphicon-eye-open"></i> View</a></p>
<!--                            <p><a th:href="@{/candidates/{id}(id=${event.id})}" target="_blank"><i class="glyphicon glyphicon-pencil"></i> Edit</a></p>-->
<!--                            <p><a th:href="@{/candidates/delete/{id}(id=${event.id})}" target="_blank"><i class="glyphicon glyphicon-trash"></i> Delete</a></p>-->
                        </div>
                    </div>
                </td>
                <td  style="white-space: nowrap"  th:text="${event.numeEveniment}" ></td>
                <td  style="white-space: nowrap"  th:text="${event.data}" ></td>
                <td  style="white-space: nowrap"  th:text="${event.locatie}"></td>
                <td  style="white-space: nowrap"  th:text="${event.capacitate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>