<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body style="background: linear-gradient(0deg,#ff6a00 0,#ee0979 100%)">
<script th:inline="javascript">
/*<![CDATA[*/

var message = [[${notify}]];
alert(message);

/*]]>*/
</script>
<h1>Rezervarile mele</h1>

<div class="row">
    <div style="background: white" class="table-responsive table-wrap">
        <table style="background: white" class="table table-striped-v2" id="tableId">
            <thead>
            <tr>
                <th>Denumirea evenimentului</th>
                <th>Data evenimentului</th>
                <th>Locatie</th>
                <th>Loc</th>
                <th>Tip bilet</th>
            </tr>
            </thead>
            <tbody style="background: white">
            <tr th:if="${reservations !=null}"
                th:each="reservation : ${reservations}" id="body-row">

                <td  style="white-space: nowrap"  th:text="${reservation.numeEveniment}" ></td>
                <td  style="white-space: nowrap"  th:text="${reservation.data}" ></td>
                <td  style="white-space: nowrap"  th:text="${reservation.locatie}"></td>
                <td  style="white-space: nowrap"  th:text="${reservation.loc}"></td>
                <td  style="white-space: nowrap"  th:text="${reservation.tipBilet}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>