.u-section-4-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/macbook-party.jpg");
  background-position: 50% 50%;
}

.u-section-4-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4-1 .u-text-1 {
  margin: 230px 284px 0 315px;
}

.u-section-4-1 .u-text-2 {
  margin: 28px 108px 0 195px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4-1 .u-text-1 {
    margin-left: 215px;
    margin-right: 234px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 95px;
    margin-right: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-4-1 .u-text-1 {
    margin-left: 105px;
    margin-right: 179px;
  }

  .u-section-4-1 .u-text-2 {
    margin-left: 0;
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4-1 .u-text-1 {
    margin-left: 0;
    margin-right: 134px;
  }

  .u-section-4-1 .u-text-2 {
    margin-right: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4-1 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-4-1 .u-text-2 {
    margin-right: 32px;
  }
}.u-section-4-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/best-halloween-songs.jpg");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4-2 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-1 {
  background-image: url("images/20190604_RNE_Jahreskonferenz_DSH1445-1400x933.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 139px 112px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 21px 635px 0 0;
}

.u-section-1 .u-btn-1 {
  border-radius: 10px;
  background-image: linear-gradient(135deg, #9d6a07, #fee1aa);
  border-style: none;
  font-weight: 700;
  margin: 85px auto 60px 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  min-height: 262px;
  background-image: linear-gradient(#fafff9, #fae9c8);
}

.u-section-2 .u-list-1 {
  min-height: 190px;
  grid-gap: 0px 0px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 229px;
  }

  .u-section-2 .u-list-1 {
    min-height: 157px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 433px;
  }

  .u-section-2 .u-list-1 {
    min-height: 361px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  min-height: 494px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 417px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-item-1 {
  background-image: linear-gradient(#fae9c8, #fafff9);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-image-1 {
  width: 393px;
  height: 231px;
  margin: 0;
}

.u-section-3 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-3 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-3 .u-repeater-item-2 {
  background-image: linear-gradient(#fae9c8, #fafff9);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-image-2 {
  width: 393px;
  height: 231px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-3 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

.u-section-3 .u-repeater-item-3 {
  background-image: linear-gradient(#fae9c8, #fafff9);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-3 .u-image-3 {
  width: 393px;
  height: 231px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-3 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 421px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
    height: auto;
    min-height: 344px;
  }

  .u-section-3 .u-repeater-item-1 {
    background-size: auto;
  }

  .u-section-3 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-repeater-item-3 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 867px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.25px) calc(50% - 11.25px);
    min-height: 790px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 188px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 188px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 188px;
  }
}.u-block-9714-5 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 118px;
}

.u-block-9714-3 {
  position: absolute;
  left: 0;
}

.u-block-9714-4 {
  position: absolute;
  right: 0;
}