.u-section-1 {
  background-image: url("images/6e8c81f6a006352a225d163d742b148c.jpeg");
  background-position: 50% 99.69%;
}

.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  background-image: none;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 139px 112px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 20px 742px 0 0;
}

.u-section-1 .u-btn-1 {
  border-radius: 10px;
  background-image: linear-gradient(135deg, #0c6ac3, #e1e30e);
  border-style: none;
  font-weight: 700;
  margin: 86px auto 60px 0;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 214px;
}

.u-section-2 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 28px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-group-1 {
    width: 686px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 525px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 773px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 35px auto 84px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 401px;
  background-image: none;
}

.u-section-3 .u-image-1 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-3 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 401px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-3 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 401px;
}

.u-section-3 .u-image-3 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-3 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 401px;
}

.u-section-3 .u-image-4 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-3 .u-icon-4 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 401px;
}

.u-section-3 .u-image-5 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-3 .u-icon-5 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-3 .u-layout-cell-6 {
  background-image: none;
  min-height: 401px;
}

.u-section-3 .u-image-6 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-3 .u-icon-6 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-3 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-3 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 9px;
    margin-left: 35px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 12px;
    margin-left: 38px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 6px;
  }
}